html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;outline:none;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover,a:active,a:focus{text-decoration:none;outline:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";color:#666;outline:0;}
body{cursor:default;}
input::-ms-clear,input::-ms-reveal{display:none;}
a{color:#666;}
button{border:0;}
html,body{width:100%;height:auto;margin:0;padding:0;background:none;font-family:"Microsoft YaHei","微软雅黑";}
input{width:225px;height:30px;padding-left:0;color:#333;border:none;font-size:16px;font-weight:bold;line-height:30px;*border:0;}
input::-webkit-input-placeholder{font-weight:normal;color:#bdbdbd;}
input::-moz-placeholder{font-weight:normal;color:#bdbdbd;}
input:-ms-input-placeholder{font-weight:normal;color:#bdbdbd;}
input:-moz-placeholder{font-weight:normal;color:#bdbdbd;}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{-webkit-box-shadow:0 0 0 999px #fff inset;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
input:focus{border:none;outline:none;*border:0;*outline:0;}
a,a:active,a:hover,a:visited{text-decoration:none;}
body{background-color:#efefef;}
*{font-family:"Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.g-hd{height:130px;}
.g-bd{position:relative;width:1000px;height: 500px;margin:0 auto;background-color:#fff;border-radius:6px;box-shadow:0 3px 3px #cbc9c9;}
.g-in{width:1000px;margin:0 auto;}

.spritebg{background:url("http://www.meixt.cn/list/images/logo3.png") no-repeat;_background-image:url("../img/sprite2.png");}
.m-logo{float:left;width:300px;height:60px;margin-top:35px;}
.m-tr-block{font-size:18px;margin: -20px 0px 0 740px;}
.m-tr-block a{text-decoration:none;color:#ca5252;}
.m-tr-block a:hover{color:#ad4747;}
.top_tlt{padding:44px 0 0 70px;font:normal 24px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";color:#ca5252;}
.m-toast{position:fixed;z-index:1001;width:100%;height:auto;text-align:center;}
.m-toast .txt{display:inline-block;height:auto;min-width:300px;max-width:600px;padding:0 24px;color:#fff;font-size:16px;text-align:center;line-height:48px;background:#333;opacity:0.8;}
.m-opr{/* height:620px;margin-top:40px; */}
.m-opr .u-input{position:relative;float:left;height:72px;width:100%;overflow:hidden;}
.m-opr .u-input.firstelem{overflow:visible;z-index:12;}
.m-opr .u-label{float:left;width:340px;text-align:right;margin-top:12px;font-size:16px;line-height:45px;color:#333;}
.m-opr .i-inpt{float:left;height:44px;width:320px;margin-top:12px;border:solid 1px #ddd;font-size:16px;text-indent:0.5em;line-height:44px \9;}
.m-opr .i-inpt-small{width:200px;}
.m-opr .m-select{float:left;width:108px;height:46px;margin-top:12px;border-color:#ddd;margin-left:10px;font-size:14px;padding:10px 0;}
.m-opr .m-select option{font-size:14px;}
@media screen and (min-width: 0px){.m-opr .m-select{padding:0;line-height:40px;}
}
.m-opr input.active{border-color:#666;}
.m-opr .pritplaceholder-parent{float:left;}
.m-opr .pritplaceholder{color:#bdbdbd;height:44px;font-size:18px;margin-top:12px;text-indent:0.5em;line-height:44px;}
.m-opr .itlbox label.pritplaceholder{text-indent:50px;}
.m-opr .u-tip{position:relative;float:left;width:40px;height:40px;margin-top:15px;z-index:11;background:#fff;}
.m-opr .u-clear{position:absolute;width:20px;height:20px;left:10px;top:10px;background-position:-325px -101px;opacity:0.5;}
.m-opr .u-clear:hover{opacity:1;}
.m-opr .i-inpt.smsize{width:190px;}
.m-opr .i-inpt:disabled{background:#fff;color:#999;}
.m-opr .i-inpt.err-clazz{border-color:#fa5b5b;}
.m-opr .i-inpt.act-clazz{border-color:#4aafe9;}
.m-opr .m-sug{position:absolute;z-index:990;top:57px;left:340px;width:320px;overflow:hidden;border:solid 1px #ccc;background-color:#f5f5f5;font-size:16px;}
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){.m-opr .m-sug{left:340px;}
}
.m-opr .m-sug .js-selected{background-color:#d2e8f8;}
.m-opr .w-ipt{width:260px;outline:none;}
.m-opr .m-sug .itm{height:26px;line-height:26px;cursor:pointer;text-indent:0.5em;}
.m-opr .popb{float:left;margin-left:10px;width:280px;height:72px;max-height:60px;overflow:hidden;font-size:12px;}
.m-opr .popb .b-i{height:72px;width:24px;}
.m-opr .popb i{float:left;width:22px;height:22px;padding:0 2px 0 0;background:url("../img/sprite.png") no-repeat;_background-image:url("../img/sprite2.png");background-position:1000px 1000px;}
.m-opr .popb .b-p{overflow:hidden;line-height:20px;word-break:break-all;}
.m-opr .popb strong{font-weight:bold;color:#1e90ff;padding:0 5px;}
.m-opr .popb.succ{color:#71c86f;}
.m-opr .popb.succ i{margin-top:24px;background-position:-26px -98px;}
.m-opr .popb.err{color:#fa5b5b;}
.m-opr .popb.err i{background-position:-62px -98px;}
.m-opr .popb.warn{color:#999;}
.m-opr .popb.warn a{color:#4aafe9;}
.m-opr .popb.warn i{background-position:-391px -99px;}
.m-opr .b-btn{float:left;border:0;width:322px;height:46px;margin-top:12px;background-color:#ca5252;text-align:center;font-size:18px;color:#fff;line-height:46px;cursor:pointer;}
.m-opr .b-btn:hover{background:#e66363;}
.m-opr .b-btn:active{background:#b65454;}
.m-opr .btndisabled{opacity:0.6;filter:alpha(opacity = 60);cursor:default;}
.m-opr .btndisabled:hover{background:#ca5252;}
.m-opr .btndisabled:active{background:#ca5252;}
.m-opr .btn-red{background:red;}
.m-opr .btn-reg:hover{background:#e66363;}
.m-opr .btn-reg:active{background:#b65454;}
.m-opr .btn-reg.btndisabled{opacity:0.6;filter:alpha(opacity = 60);cursor:default;}
.m-opr .btn-reg.btndisabled:hover{background:#ca5252;}
.m-opr .btn-reg.btndisabled:active{background:#ca5252;}
.m-opr .b-loading{position:absolute;z-index:4;top:0;left:340px;width:322px;height:46px;margin-top:12px;background:#b65454;opacity:0.7;filter:alpha(opacity = 70);}
.m-opr .b-loading img{display:block;width:30px;height:30px;margin:0 auto;margin-top:7px;}
.m-opr .i-vcode{float:left;height:44px;width:118px;margin:12px 0 0 10px;background:#eee;overflow:hidden;border:solid 1px #ccc;}
.m-opr .i-vcode img{width:100%;height:100%;line-height:42px;text-align:center;color:#aaa;}
.m-opr .i-vcode:hover{cursor:pointer;}
.m-opr .btn-getsms{float:left;height:46px;width:120px;font-size:16px;line-height:46px;margin:12px 0 0 10px;color:#fff;background:#9ec5e3;text-align:center;}
.m-opr .btn-getsms:hover{cursor:pointer;background-color:#a1d1f6;}
.m-opr .btn-getsms:active{background-color:#88b6da;}
.m-opr .btn-getsms-btndisabled{opacity:0.6;filter:alpha(opacity = 60);cursor:default;background-color:blue;}
.m-opr .btn-getsms-btndisabled:hover{background-color:#a1d1f6;}
.m-opr .btn-getsms-btndisabled:active{background-color:#a1d1f6;}
.m-opr .btn-getsms-loading{float:left;height:46px;width:120px;font-size:17px;margin-left:-120px;margin-top:12px;line-height:46px;color:#fff;background:#a1d1f6;text-align:center;opacity:0.99;}
.m-opr .tip{margin-top:10px;color:#b1b1b1;float:left;width:322px;font-size:12px;}
.m-opr .tip a{text-decoration:none;color:#b1b1b1;line-height:20px;}
.m-opr .tip a:hover{color:#666;}
.m-opr .m-vip{position:relative;z-index:101;width:1000px;height:550px;top:62px;*margin-top:-528px;background:#fff;padding-top:14px;}
.m-opr .m-vip i{display:block;margin:0 auto;background:url("../img/vip.jpg") no-repeat;width:320px;height:150px;}
.m-opr .m-vip .btn-vip{cursor:pointer;position:absolute;display:block;left:453px;border:solid 1px #afa96d;border-radius:3px;width:100px;height:30px;font-size:13px;color:#afa96d;text-align:center;line-height:30px;}
.m-activate{height:454px;}
.m-activate .acti_img{float:left;width:64px;height:64px;margin:68px 10px 0 268px;background:url("../img/sprite.png") no-repeat;background-position:-17px -148px;}
.m-activate .acti_tlt{float:left;width:50%;margin-top:68px;font-size:28px;color:#ca5252;}
.m-activate .info-b{float:left;width:50%;color:#b1b1b1;font-size:12px;}
.m-activate .info-b p{line-height:24px;}
.m-activate .info-b p a{color:#00ade5;}
.m-activate .info-b .tip{font-size:14px;margin:10px 0;}
.m-activate .btn-act-con{min-height:20px;}
.m-activate .btn-act-con .btn-activate{display:block;width:108px;height:32px;margin-bottom:10px;background-color:#ca5252;text-align:center;font-size:16px;line-height:32px;color:#fff;}
.m-activate .btn-act-con .btn-activate:hover{background-color:#e66363;}
.m-activate .btn-act-con .btn-activate:active{background-color:#b65454;}
.m-activate .btn-act-con .btn-activate.btndisabled{opacity:0.6;}
.m-regsucc{height:666px;}
.m-regsucc .wc2d{float:left;text-align:center;width:140px;padding:70px 20px 38px 201px;}
.m-regsucc .wc2d .wc2d-img{width:140px;height:140px;}
.m-regsucc .wc2d .wc2d-p{font-size:12px;padding-top:8px;color:#999;}
.m-regsucc .r-info{float:left;width:50%;padding:16px 0 10px 30px;margin-top:50px;border-left:solid 1px #ddd;}
.m-regsucc .r-info .sub_img{float:left;width:38px;height:38px;background:url("../img/sprite.png") no-repeat;background-position:-210px -91px;}
.m-regsucc .r-info .sub_tlt{float:left;width:50%;margin-top:5px;padding-bottom:10px;font-size:24px;color:#333;padding-left:12px;}
.m-regsucc .r-info .sub_tip{float:left;width:450px;line-height:20px;padding-top:10px;font-size:12px;color:#e87b47;}
.m-regsucc .r-info .info-b{float:left;width:450px;padding-top:20px;color:#666;font-size:20px;line-height:26px;}
.m-regsucc .r-info .acc-lvl span{float:left;}
.m-regsucc .r-info .acc-lvl i{display:block;float:left;width:26px;height:26px;padding:0 2px;line-height:28px;background:url("../img/sprite.png") no-repeat;background-position:-290px -98px;}
.m-regsucc .r-info .acc-lvl i.bright{background-position:-260px -98px;}
.m-regsucc .r-info .acc-lvl .lv-s{float:left;}
.m-regsucc .r-info .acc-lvl .lv-s-1{color:#e56564;}
.m-regsucc .r-info .acc-lvl .lv-s-2{color:#facc3a;}
.m-regsucc .r-info .acc-lvl .lv-s-3{color:#71c86f;}
.m-regsucc .r-info .btn-goset{float:left;clear:both;display:block;width:86px;height:30px;border:solid 1px #71c86f;font-size:15px;color:#71c86f;text-align:center;line-height:30px;border-radius:2px;margin-top:10px;cursor:pointer;}
.m-regsucc .r-info .btn-gologin{float:left;clear:both;width:150px;display:block;font-size:16px;margin-top:40px;color:#00ade5;}
.m-regsucc .r-info .btn-gologin:hover{text-decoration:underline;}
.m-banner{position:absolute;width:900px;height:180px;overflow:hidden;bottom:60px;left:50px;border-radius:2px;box-shadow:0 1px 3px #aaa;}
.m-cp{padding:30px 0;}
.m-cp p,.m-cp p a{color:#b1b1b1;}
.m-cp p{padding-bottom:10px;text-align:center;}
.m-cp p a{padding:0 6px;}
.m-cp p a:hover{color:#ee8c18;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s;}
@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);}
10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px);}
20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px);}
}
@keyframes shake{0%,100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px);}
20%,40%,60%,80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px);}
}
.shake{-webkit-animation-name:shake;animation-name:shake;}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}
@-webkit-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(0.3,0.3,0.3);transform:scale3d(0.3,0.3,0.3);}
50%{opacity:1;}
}
@-webkit-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.m-opr .u-note{height:22px;line-height:22px;color:#999;}
.u-note .changephone{cursor:pointer;color:#4cb5ff;}
.country{background:url("../img/sprite.png") -457px -90px no-repeat;position:absolute;left:341px;top:16px;height:38px;line-height:38px;width:30px;padding:0 10px;z-index:999;background-color:#fff;}
.country em,.u-country em{background:url("../img/flags.gif") no-repeat;width:16px;height:11px;line-height:11px;display:inline-block;margin-right:0.5em;}
.country em{margin-top:16px;}
.m-country .i-inpt{text-indent:50px;}
.m-country .js-placeholder{left:50px !important;}
.u-country{overflow-y:scroll;border:1px solid #ccc;background:#fff;z-index:9999;position:absolute;width:318px;height:300px;top:0;display:block;padding-left:2px;left:340px;top:57px;}
.u-country a{position:relative;display:block;height:24px;line-height:24px;overflow:hidden;}
.u-country a:hover{background:#ccc;}
.flag-AD em{background-position:0 -594px;}
.flag-AE em{background-position:0 -2223px;}
.flag-AF em{background-position:0 -2311px;}
.flag-AG em{background-position:0 -869px;}
.flag-AI em{background-position:0 -1980px;}
.flag-AL em{background-position:0 -1034px;}
.flag-AM em{background-position:0 -176px;}
.flag-AN em{background-position:0 -220px;}
.flag-AO em{background-position:0 -1947px;}
.flag-AR em{background-position:0 -2377px;}
.flag-AT em{background-position:0 -1331px;}
.flag-AU em{background-position:0 -1716px;}
.flag-AW em{background-position:0 -792px;}
.flag-AZ em{background-position:0 -1243px;}
.flag-BA em{background-position:0 -1584px;}
.flag-BB em{background-position:0 -1573px;}
.flag-BD em{background-position:0 -1771px;}
.flag-BE em{background-position:0 0px;}
.flag-BF em{background-position:0 -726px;}
.flag-BG em{background-position:0 -2586px;}
.flag-BH em{background-position:0 -1496px;}
.flag-BI em{background-position:0 -1892px;}
.flag-BJ em{background-position:0 -1298px;}
.flag-BM em{background-position:0 -1914px;}
.flag-BN em{background-position:0 -1683px;}
.flag-BO em{background-position:0 -1650px;}
.flag-BR em{background-position:0 -770px;}
.flag-BS em{background-position:0 -363px;}
.flag-BT em{background-position:0 -1848px;}
.flag-BW em{background-position:0 -2707px;}
.flag-BY em{background-position:0 -1100px;}
.flag-BZ em{background-position:0 -484px;}
.flag-CA em{background-position:0 -1375px;}
.flag-CD em{background-position:0 -1518px;}
.flag-CF em{background-position:0 -1837px;}
.flag-CG em{background-position:0 -1793px;}
.flag-CH em{background-position:0 -1320px;}
.flag-CI em{background-position:0 -1661px;}
.flag-CK em{background-position:0 -891px;}
.flag-CL em{background-position:0 -1342px;}
.flag-CM em{background-position:0 -2057px;}
.flag-CN em{background-position:0 -825px;}
.flag-CO em{background-position:0 -330px;}
.flag-CR em{background-position:0 -2090px;}
.flag-CU em{background-position:0 -748px;}
.flag-CV em{background-position:0 -2652px;}
.flag-CY em{background-position:0 -561px;}
.flag-CZ em{background-position:0 -2256px;}
.flag-DE em{background-position:0 -2509px;}
.flag-DJ em{background-position:0 -2101px;}
.flag-DK em{background-position:0 -1386px;}
.flag-DM em{background-position:0 -2432px;}
.flag-DO em{background-position:0 -1529px;}
.flag-DZ em{background-position:0 -528px;}
.flag-EC em{background-position:0 -1188px;}
.flag-EE em{background-position:0 -2410px;}
.flag-EG em{background-position:0 -2201px;}
.flag-ER em{background-position:0 -715px;}
.flag-ES em{background-position:0 -1155px;}
.flag-ET em{background-position:0 -2443px;}
.flag-FI em{background-position:0 -1903px;}
.flag-FJ em{background-position:0 -1859px;}
.flag-FO em{background-position:0 -1111px;}
.flag-FR em{background-position:0 -1012px;}
.flag-GA em{background-position:0 -880px;}
.flag-GB em{background-position:0 -55px;}
.flag-GD em{background-position:0 -2399px;}
.flag-GE em{background-position:0 -858px;}
.flag-GF em{background-position:0 -2234px;}
.flag-GH em{background-position:0 -2112px;}
.flag-GI em{background-position:0 -275px;}
.flag-GL em{background-position:0 -1760px;}
.flag-GM em{background-position:0 -627px;}
.flag-GN em{background-position:0 -2575px;}
.flag-GP em{background-position:0 -407px;}
.flag-GQ em{background-position:0 -1507px;}
.flag-GR em{background-position:0 -165px;}
.flag-GT em{background-position:0 -935px;}
.flag-GU em{background-position:0 -2366px;}
.flag-GW em{background-position:0 -1925px;}
.flag-GY em{background-position:0 -803px;}
.flag-HK em{background-position:0 -2696px;}
.flag-HN em{background-position:0 -2156px;}
.flag-HR em{background-position:0 -902px;}
.flag-HT em{background-position:0 -319px;}
.flag-HU em{background-position:0 -682px;}
.flag-ID em{background-position:0 -1958px;}
.flag-IE em{background-position:0 -1969px;}
.flag-IL em{background-position:0 -341px;}
.flag-IN em{background-position:0 -1694px;}
.flag-IQ em{background-position:0 -649px;}
.flag-IR em{background-position:0 -2013px;}
.flag-IS em{background-position:0 -1991px;}
.flag-IT em{background-position:0 -143px;}
.flag-JE em{background-position:0 -55px;}
.flag-JM em{background-position:0 -1727px;}
.flag-JO em{background-position:0 -1463px;}
.flag-JP em{background-position:0 -429px;}
.flag-KE em{background-position:0 -2630px;}
.flag-KG em{background-position:0 -1617px;}
.flag-KH em{background-position:0 -242px;}
.flag-KM em{background-position:0 -1430px;}
.flag-KN em{background-position:0 -99px;}
.flag-KP em{background-position:0 -1804px;}
.flag-KR em{background-position:0 -2245px;}
.flag-KW em{background-position:0 -2487px;}
.flag-KY em{background-position:0 -308px;}
.flag-KZ em{background-position:0 -1210px;}
.flag-LA em{background-position:0 -451px;}
.flag-LB em{background-position:0 -1254px;}
.flag-LC em{background-position:0 -1397px;}
.flag-LI em{background-position:0 -979px;}
.flag-LK em{background-position:0 -2641px;}
.flag-LR em{background-position:0 -2068px;}
.flag-LS em{background-position:0 -2190px;}
.flag-LT em{background-position:0 -1122px;}
.flag-LU em{background-position:0 -1474px;}
.flag-LV em{background-position:0 -1936px;}
.flag-LY em{background-position:0 -132px;}
.flag-MA em{background-position:0 -2333px;}
.flag-MC em{background-position:0 -913px;}
.flag-MD em{background-position:0 -2685px;}
.flag-ME em{background-position:0 -2167px;}
.flag-MG em{background-position:0 -1287px;}
.flag-MK em{background-position:0 -1353px;}
.flag-ML em{background-position:0 -2520px;}
.flag-MN em{background-position:0 -2553px;}
.flag-MO em{background-position:0 -2597px;}
.flag-MQ em{background-position:0 -198px;}
.flag-MR em{background-position:0 -253px;}
.flag-MS em{background-position:0 -583px;}
.flag-MT em{background-position:0 -1551px;}
.flag-MU em{background-position:0 -2179px;}
.flag-MV em{background-position:0 -616px;}
.flag-MW em{background-position:0 -2145px;}
.flag-MX em{background-position:0 -2024px;}
.flag-MY em{background-position:0 -1870px;}
.flag-MZ em{background-position:0 -638px;}
.flag-NA em{background-position:0 -1881px;}
.flag-NC em{background-position:0 -1276px;}
.flag-NE em{background-position:0 -550px;}
.flag-NG em{background-position:0 -2476px;}
.flag-NI em{background-position:0 -154px;}
.flag-NL em{background-position:0 -1441px;}
.flag-NO em{background-position:0 -836px;}
.flag-NP em{background-position:0 -110px;}
.flag-NZ em{background-position:0 -1540px;}
.flag-OM em{background-position:0 -2454px;}
.flag-PA em{background-position:0 -847px;}
.flag-PE em{background-position:0 -946px;}
.flag-PF em{background-position:0 -1705px;}
.flag-PG em{background-position:0 -1485px;}
.flag-PH em{background-position:0 -1815px;}
.flag-PK em{background-position:0 -2035px;}
.flag-PL em{background-position:0 -1177px;}
.flag-PM em{background-position:0 -1078px;}
.flag-PR em{background-position:0 -473px;}
.flag-PS em{background-position:0 -1199px;}
.flag-PT em{background-position:0 -517px;}
.flag-PY em{background-position:0 -2344px;}
.flag-QA em{background-position:0 -462px;}
.flag-RE em{background-position:0 -264px;}
.flag-RO em{background-position:0 -671px;}
.flag-RS em{background-position:0 -2465px;}
.flag-RU em{background-position:0 -660px;}
.flag-RW em{background-position:0 -2674px;}
.flag-SA em{background-position:0 -33px;}
.flag-SC em{background-position:0 -1045px;}
.flag-SD em{background-position:0 -352px;}
.flag-SE em{background-position:0 -385px;}
.flag-SG em{background-position:0 -22px;}
.flag-SI em{background-position:0 -1221px;}
.flag-SK em{background-position:0 -2212px;}
.flag-SL em{background-position:0 -737px;}
.flag-SM em{background-position:0 -2123px;}
.flag-SN em{background-position:0 -2134px;}
.flag-SO em{background-position:0 -1364px;}
.flag-SR em{background-position:0 -2663px;}
.flag-SS em{background-position:0 -2718px;}
.flag-ST em{background-position:0 -2388px;}
.flag-SV em{background-position:0 -1639px;}
.flag-SY em{background-position:0 -1826px;}
.flag-SZ em{background-position:0 -2278px;}
.flag-TC em{background-position:0 -1309px;}
.flag-TD em{background-position:0 -814px;}
.flag-TG em{background-position:0 -605px;}
.flag-TH em{background-position:0 -957px;}
.flag-TJ em{background-position:0 -187px;}
.flag-TL em{background-position:0 -418px;}
.flag-TM em{background-position:0 -2542px;}
.flag-TN em{background-position:0 -539px;}
.flag-TO em{background-position:0 -1089px;}
.flag-TR em{background-position:0 -1606px;}
.flag-TT em{background-position:0 -440px;}
.flag-TW em{background-position:0 -506px;}
.flag-TZ em{background-position:0 -2289px;}
.flag-UA em{background-position:0 -2002px;}
.flag-UG em{background-position:0 -1166px;}
.flag-US em{background-position:0 -44px;}
.flag-UY em{background-position:0 -2608px;}
.flag-UZ em{background-position:0 -1001px;}
.flag-VC em{background-position:0 -2619px;}
.flag-VE em{background-position:0 -1056px;}
.flag-VG em{background-position:0 -1408px;}
.flag-VN em{background-position:0 -968px;}
.flag-VU em{background-position:0 -1265px;}
.flag-WS em{background-position:0 -2300px;}
.flag-YE em{background-position:0 -1672px;}
.flag-ZA em{background-position:0 -2355px;}
.flag-ZM em{background-position:0 -1595px;}
.flag-ZW em{background-position:0 -2046px;}
body{margin:0px;}
.ScapTcha{position:relative;display:inline-block;margin-top:0px;}
.ScapTcha .clr{clear:both;}
.ScapTcha .contents{position:relative;}
.ScapTcha .ImageSlider{position:absolute;display:none;z-index:999;}
.ScapTcha .fgSlider{position:absolute;top:0px;}
.ScapTcha .bgSlider{position:relative;margin-top:0px;background:#f9f9f9;border:1px solid #cbcbcb;}
.ScapTcha .iefix{background:#ffffffff;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";zoom:1;}
.ScapTcha .Slider{cursor:pointer;position:absolute;left:0px;}
.ScapTcha .TxtStatus{text-align:left;color:#fa5b5b;position:absolute;width:100px;bottom:0px;left:0;top:0;font-size:12px;padding-left:20px;}
.ScapTcha .TxtHint{overflow:hidden;color:#a8a8a8;font-size:12px;text-align:center;}
.ScapTcha .dropSuccess{color:#006400;}
.ScapTcha .dropError{color:#fa5b5b;}
.pre-captcha-wrapper{height:618px;}
/*lllllllllllllllllllllllll*/